<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/salesforce-lightning-design-system.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="javascript/blocksdk.js"></script>
  <script src="javascript/main.js"></script>
</head>

<body>
  <div class="slds-grid slds-wrap">
    <div class="slds-col slds-large-size_1-of-1">
      <div class="slds-grid slds-container slds-m-top--xx-large">
        <div class="slds-col">
          <div class="step slds-container--large slds-container--center">
            <div class="slds-page-header">
              <div class="slds-media">
                <div class="slds-media__body">
                  <img width="80%" src="<%= cms_logo %>" />
                </div>
              </div>
            </div>
            <div class="slds-card">
              <div class="slds-p-around_medium">
                <fieldset class="slds-form-element">
                  <h3 class="slds-text-heading--medium">Configuration</h3>
                  <br>
                  <div class="slds-form-element__control">
                    <div class="slds-checkbox_button-group">
                      <span class="slds-button slds-checkbox_button">
<input type="checkbox" id="scaleFit" value="Scale to Fit" name="checkbox" onclick="javascript:chosen('')"/>
<label class="slds-checkbox_button__label" for="scaleFit">
<span class="slds-checkbox_faux">Scale to Fit</span>
                      </label>
                      </span>
                      <span class="slds-button slds-checkbox_button">
<input type="checkbox" id="alignCenter" value="Align to Center" name="checkbox" onclick="javascript:chosen('')"/>
<label class="slds-checkbox_button__label" for="alignCenter">
<span class="slds-checkbox_faux">Align to Center</span>
                      </label>
                      </span>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="slds-box">
              <h3 class="slds-text-heading--medium">Select image from <%= cms_name %></h3>
              <div class="slds-grid slds-wrap" id="templatediv">
                <% for (var i = 0; i < cms_images.length; i++) { %>
                  <div class="demo-only slds-size_1-of-1">
                    <a href="javascript:void(0);" class="slds-box slds-box_link slds-box_x-small slds-media">
                      <div class="slds-box" style="width: 100%">
                        <div class="slds-media">
                          <div class="slds-media__body">
                            <image width="20%" id="image<%= i %>" src="<%= cms_images[i] %>" /> <span style="padding-left: 20px">Image <%= i+1 %></span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>