<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    .ctstyle{
      font-family: Verdana;
      font-size: 14px;
    }
    .itemlist{
      font-size: 12px;
    }
    </style>
    <script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="javascript/blocksdk.js"></script>
  </head>
  <body>
    <p class="ctstyle" align="center">
      <img width="80%" src="<%= cms_logo %>" />
      <br />
      Select an image to from <%= cms_name %>
      <br />
      <input type="checkbox" id="scaleFit" onclick="javascript:chosen('')" value="Yes" ><span class="itemlist" style="padding-left: 10px;padding-right: 10px;">Scale to fit</span></input>
      <input type="checkbox" id="alignCenter" onclick="javascript:chosen('')" value="Yes" ><span class="itemlist" style="padding-left: 10px;padding-right: 10px;">Align to Center</span></input>
    </p>
    <div >
      <div class="list-group" id="list-tab" role="tablist">
        <% for (var i = 0; i < cms_images.length; i++) { %>
              <a class="list-group-item list-group-item-action ctstyle itemlist" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home" onclick="javascript:chosen('image<%= i %>')"><image width="20%" id="image<%= i %>" src="<%= cms_images[i] %>" /> <span style="padding-left: 20px">Image <%= i %></span></a>
        <% } %>
      </div>
    </div>
  </div>
  <script>
    var selectedImageId, image;
    function chosen(imgId) {
      var sdk = new window.sfdc.BlockSDK(); //initalize SDK
      sdk.setContent(""); //resets content block
      var fit = document.getElementById("scaleFit").checked;
      var acenter = document.getElementById("alignCenter").checked;

      selectedImageId = imgId;
      if (imgId != "") {
        image = document.getElementById(imgId).src;
      }
      //alert(image); //test
      if (fit) {
        sdk.setContent("<img width='100%' src='" + image + "'/>");
      } else {
        if (acenter) {
          sdk.setContent("<center><img src='" + image + "'/></center>");
        } else {
          sdk.setContent("<img src='" + image + "'/>");
        }
      }
    }
  </script>
</body>
</html>